.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
  
.cartItem {
    width: 700px;
    height: 250px;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin: 30px;
}
 
.cartItem img{
    width: 250px;
    height: 100%;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}
  
.cartItem .description {
    width: 100%;
    font-size: 30px;
}

.countHandler{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
  
.countHandler input {
    width: 70px;
    height: 35px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #9a9a9a;
    text-align: center;
    font-weight: bolder;
}

.countHandler button{
    width: 50px;
    height: 35px;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 3px;
    cursor: pointer;
}

.countHandler .minus{
    background-color: red;
}

.countHandler .plus{
    background-color: green;
}
  
.checkout button {
    width: 150px;
    height: 50px;
    background-color: rgb(19, 19, 19);
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
}

@media screen and (max-width: 763px) {
    .cartItem {
        width: 100%;
        margin: 10px;
    }
    .cartItem img{
        width: 40%;
    }

    .cartItem .description {
        width: 60%;
        font-size: 20px;
    }
}

@media screen and (max-width: 488px) {
    .cartItem {
        margin: 20px auto;
    }
}

@media screen and (max-width: 350px) {
    .cartItem {
        flex-direction: column;
        width: 250px;
    }
    .cartItem img{
        width: 100%;
        height: 50%;
        border-radius: 25px;
    }
}

@media screen and (max-width: 278px) {
    .cart h1 {
        font-size: 1rem;
    }
}